<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicial</title>
    <link rel="stylesheet" href="inicial.css">
</head>

<body>

    <header>
        <img src="" alt="minhalogo">
        <div class="links">
            <a>Assistência jurídica multilingue</a>
            <a>ONG'S próximas a você</a>
            <a>Verificação de empregos éticos</a>
            <a>Quem somos?</a>
        </div>
        <div class="botoes">
            <a href="criarconta.html" target="_blank"><button class="criarconta">CRIAR CONTA</button></a>
            <div class="dropdown">
                <button class="dropbtn">ENTRAR</button>
                <div class="dropdown-content">
                    <a href="#">sou imigrante</a>
                    <a href="#">sou advogado</a>
                    <a href="#">sou uma empresa/ong</a>
                </div>
            </div>
        </div>
    </header>




    <div class="textol">
        <h1>Bem-vindo ao Bridge Connect</h1>
        <p>Conectando você a recursos jurídicos e sociais.</p>
        <button class="textol">Saiba mais</button>
    </div>
    <aside>


    </aside>
    <div class="textor">
        <p>Bridge Connect é uma plataforma que visa conectar pessoas a recursos jurídicos e sociais, facilitando o
            acesso a informações e serviços essenciais.</p>
        <p>Nosso objetivo é promover a justiça social e garantir que todos tenham acesso a assistência jurídica de
            qualidade, independentemente de sua origem ou situação financeira.</p>
    </div>