<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistência Legal Multilíngue</title>
    <link rel="stylesheet" href="/static/lista.css">
</head>
<body>
     <header>
        <img src="/static/img/Spring_20250724_073124_0000.png" alt="Logo" >
          <div class="links">
        <a href="#Assistencia_Legal">Assistência Legal Multilíngue</a>
        <a href="#Portal_De_Ajuda">Portal de Ajuda Humanitária(ONG'S)</a>
        <a href="#Validacao_De_Empresas">Validação de Empresas Éticas</a>
        <a href="#Quem_Somos">Quem somos ?</a>
          </div>

        <div class="botoes"> 
            <a href="/cadastro/usuario" target="_blank"><button class="criarconta">CRIAR CONTA</button></a>
          <a href="login.html"target="_blank"><button class="entrar">ENTRAR</button></a> 
        </div>

    </header>

    <aside>
         <section id="SaibaMais_AssistenciaLegal">
            <h1>Advogados</h1>
            <table>
                <tr>
                    <th> Nome </th>
                    <th> Email </th>
                    <th> Telefone </th>
                    <th> Lingua </th>
                </tr>
                {%for a in advogados%}
                <tr>
                    <td>{{a.nome}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.telefone}}</td>
                    <td>{{a.lingua}}</td>
                    <td><a href="/edit/advogado/{{a.id}}"><button>editar</button></a></td>
                    <td><a href="/delete/advogado/{{a.id}}"><button>excluir</button></a></td>
                </tr>
                {% endfor %}
            </table>
            <button id="VoltarAdvogado" onclick="">Voltar</button>
        </section>
    </aside>
    
    <footer>
        <h3>Responsáveis</h3><br>
        <ul>Front-end
            <li>Pedro Benício Caravlho de Lima <br>
                Cavalcanti de Oliveira</li>
            <li>Beatriz Carneiro de Lima</li>
        </ul>
        <ul>Back-end
            <li>Amy Orquídea Baia Junqueira</li>
        </ul>
        <ul>Designers
            <li>Maria Eduarda de Souza Silva</li>
            <li>Sara de Lima e Silva</li>
        </ul>
    </footer>
    <script src="/static/javalista.js"></script>
</body>
</html>