<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridge Connect</title>
    <link rel="stylesheet" href="style_Pagina_Principal.css" />
  </head>
  <body>
    <header>
      <img src="Spring_20250724_073124_0000 copy.png" alt="Logo" />
      <div class="links">
        <a href="#Assistencia_Legal">Assistência Legal Multilíngue</a>
        <a href="#Portal_De_Ajuda">Portal de Ajuda Humanitária(ONG'S)</a>
        <a href="#Validacao_De_Empresas">Validação de Empresas Éticas</a>
        <a href="#Quem_Somos">Quem somos ?</a>
      </div>

      <div class="botoes">
        <a href="criarconta.html" target="_blank"
          ><button class="criarconta">CRIAR CONTA</button></a
        >
        <a href="login.html" target="_blank"
          ><button class="entrar">ENTRAR</button></a
        >
      </div>
    </header>

    <nav></nav>
    <aside>
      <section id="Assistencia_Legal">
        <h2>
          <strong>Assistência Legal Multilíngue</strong><br />
          <strong>Intuito:</strong><br />
          Democratizar o acesso à justiça eliminando barreiras <br />
          linguísticas e tornando a orientação jurídica acessível a todos,
          independente do <br />
          idioma ou origem cultural. Queremos que cada pessoa compreenda seus
          direitos <br />
          e saiba como protegê-los. <br />
        </h2>
        <button id="assistencia_legal" onclick="">Saiba Mais</button>
      </section>

      <section id="Portal_De_Ajuda">
        <h2>
          <strong>Portal de Ajuda Humanitária</strong><br />
          <strong>Intuito:</strong><br />
          Criar uma rede de solidariedade eficiente, conectando <br />
          rapidamente quem precisa de ajuda com organizações que podem oferecer
          suporte <br />
          adequado. Nosso objetivo é otimizar recursos sociais e garantir que
          nenhuma pessoa fique <br />desamparada por falta de informação. <br />
        </h2>
        <button
          id="portal_de_ajuda" onclick="">Saiba Mais</button>
      </section>

      <section id="Validacao_De_Empresas">
        <h2>
          <strong>Validação de Empresas Éticas</strong><br />
          <strong>Intuito:</strong><br />
          Transformar o mercado de trabalho promovendo empresas <br />
          verdadeiramente responsáveis e ajudando profissionais a fazer escolhas
          conscientes. <br />
          Buscamos um futuro onde trabalhar dignamente seja a norma, não a
          exceção.<br />
        </h2>
        <button id="validacao_de_empresa" onclick="">Saiba Mais</button>
      </section>
      <section id="Quem_Somos">
        <h2>
          <strong>Quem Somos ?</strong><br />
          Somos cinco pessoas que se juntaram com uma ideia meio louca: usar
          tecnologia <br />para resolver problemas reais do mundo. Nosso projeto
          rolou através da <br />parceria entre a <strong>Embraer</strong> e o
          <strong>CESAR School</strong> basicamente, pegamos o DNA de <br />
          inovação de quem bota avião no ar e misturamos com a energia de
          <br />quem ensina a galera a codar e empreender. <br />

          Da Embraer, a gente herdou aquela vibe de "se vai fazer, faz direito"
          - a mesma <br />dedicação que faz os aviões brasileiros voarem pelo
          mundo todo. Do CESAR <br />School, trouxemos a pegada mais descolada
          de pensar fora da caixa e <br />transformar ideias malucas em algo que
          funciona de verdade. <br />

          A parada é simples: queremos que todo mundo tenha acesso às coisas
          básicas da <br />vida - justiça, ajuda quando precisa e trampo
          decente. E acreditamos que dá <br />pra fazer isso acontecer criando
          uma plataforma que conecta as pessoas <br />certas na hora certa.
          <br />

          Somos poucos, mas somos bons. Misturamos energia jovem com
          experiência, <br />criatividade com organização, sonhos grandes com
          código que roda. No final <br />das contas, não estamos só construindo
          um app - estamos criando pontes para <br />um mundo mais conectado e
          justo.
        </h2>
      </section>
    </aside>
    <footer>
      <h3>Responsáveis</h3>
      <br />
      <ul>
        Front-end
        <li>
          Pedro Benício Caravlho de Lima <br />
          Cavalcanti de Oliveira
        </li>
        <li>Beatriz Carneiro de Lima</li>
      </ul>
      <ul>
        Back-end
        <li>Amy Orquídea Baia Junqueira</li>
      </ul>
      <ul>
        Designers
        <li>Maria Eduarda de Souza Silva</li>
        <li>Sara de Lima e Silva</li>
      </ul>
    </footer>

    <script src="script_Pagina_Principal.js"></script>
  </body>
</html>
