<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Ajuda Humanitária</title><link rel="stylesheet" href="../static/style_Portal_De_Ajuda.css">
</head>
<body>
     <header>
        <img src="/static/img/Spring_20250724_073124_0000.png " alt="Logo" >
          <div class="links">
        <a href="#Assistencia_Legal">Assistência Legal Multilíngue</a>
        <a href="#Portal_De_Ajuda">Portal de Ajuda Humanitária(ONG'S)</a>
        <a href="#Validacao_De_Empresas">Validação de Empresas Éticas</a>
        <a href="#Quem_Somos">Quem somos ?</a>
      </div>

        <div class="botoes"> 
            <a href="/cadastro/usuario.html"target="_blank"><button class="criarconta">CRIAR CONTA</button></a>
        </div>

    </header>

    <aside>
         <section id="SaibaMais_PortalDeAjuda">
            <h2><strong>Importância:</strong> <br>Facilita a conexão entre pessoas em situação de <br>
                vulnerabilidade e organizações que oferecem suporte, como alimentação, abrigo, <br>
                assistência jurídica ou capacitação profissional. <br>
                <strong>Funcionamento :</strong><br> Reúne e organiza dados geográficos <br>
                 e temáticos de ONGs ativas na região do usuário. Um sistema de filtragem  <br>
                 permite buscar por tipo de ajuda, localização e disponibilidade.
                 </h2 >
            <button id="CadastroONG" onclick="">Cadastrar ONG'S</button>
            <button id="VerONG" onclick="">Ver ONG'S</button>
            <button id="Voltar" onclick="">Voltar para página inicial</button>

        </section>
        <div class="map-container">
            <img src="/static/img/Médecins Sans Frontières.png " alt="Map showing locations of NGOs" style="border-radius: 10px; margin-top: 20px;">
        </div>
    </aside>
    
    <footer>
        <h3>Responsáveis</h3><br>
        <ul>Front-end
            <li>Pedro Benício Caravlho de Lima <br>
                Cavalcanti de Oliveira</li>
            <li>Beatriz Carneiro de Lima</li>
        </ul>
        <ul>Back-end
            <li>Amy Orquídea Baia Junqueira</li>
        </ul>
        <ul>Designers
            <li>Maria Eduarda de Souza Silva</li>
            <li>Sara de Lima e Silva</li>
        </ul>
    </footer>
    <script src="/static/script_Portal_De_Ajuda.js"></script>
</body>
</html>