<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação de Empresas Éticas </title><link rel="stylesheet" href="style_Valificacao_De_Empresa.css">
</head>
<body>
     <header>
        <img src="Spring_20250724_073124_0000 copy.png" alt="Logo" >
          <div class="links">
        <a href="#Assistencia_Legal">Assistência Legal Multilíngue</a>
        <a href="#Portal_De_Ajuda">Portal de Ajuda Humanitária(ONG'S)</a>
        <a href="#Validacao_De_Empresas">Validação de Empresas Éticas</a>
        <a href="#Quem_Somos">Quem somos ?</a>
      </div>

        <div class="botoes"> 
            <a href="criarconta.html"target="_blank"><button class="criarconta">CRIAR CONTA</button></a>
          <a href="login.html"target="_blank"><button class="entrar">ENTRAR</button></a> 
        </div>

    </header>

    <aside>
         <section id="SaibaMais_ValidacaoDeEmpresas">
            <h2>shdkagdfkgaefaoçdhczbx.vblasukdfsçufçsgjlhslçhgoçhfljc,bxc,badu
                 </h2 >
            <button id="CadastroEmpresas" onclick="">Cadastrar Empresas</button>
            <button id="Voltar" onclick="">Voltar para página inicial</button>
        </section>
    </aside>
    
    <footer>
        <h3>Responsáveis</h3><br>
        <ul>Front-end
            <li>Pedro Benício Caravlho de Lima <br>
                Cavalcanti de Oliveira</li>
            <li>Beatriz Carneiro de Lima</li>
        </ul>
        <ul>Back-end
            <li>Amy Orquídea Baia Junqueira</li>
        </ul>
        <ul>Designers
            <li>Maria Eduarda de Souza Silva</li>
            <li>Sara de Lima e Silva</li>
        </ul>
    </footer>
    <script src="script_Validacao_De_Empresas.js"></script>
</body>
</html>